@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Raleway:wght@400;500&display=swap");
html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #b9d9eb; */
  background-color: #def3fd;
  position: relative;
}
/* navbar links */
.nav-holder > li > a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  margin: 0.3rem;
  display: inline-block;
  font-size: 20px;
  position: relative;
  font-weight: 400;
}

.nav-holder > li > a::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-holder > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#logo {
  margin: 0 0.5rem 0.6rem 0.5rem;
}

/* 4 element ul */
.nav-holder {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  /* nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-holder {
    flex-direction: column;
    padding-block: 0rem;
    gap: 0.2rem;
  }

  .nav-holder > li > a {
    width: 100%;
  } */

  .nav-holder {
    position: fixed;
    top: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  ul > li {
    margin: 0.5rem 0;
  }

  .hamburger {
    display: block !important;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  padding: 0rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: white;
}

#about-block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#about-block > h1 {
  font-size: 2rem;
}

#about-paragraph {
  width: clamp(5rem, 50vw, 60rem);
  align-self: center;
}

#about-paragraph > p {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

@media (max-width: 915px) {
  #about {
    margin: 1rem;
    gap: 1rem;
    /* font-size: 12px; */
  }

  #about-block {
    font-size: 16px;
  }
}

#photos {
  align-self: center;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding: 2rem;
}

@media (max-width: 1300px) {
  #photos {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
  }
}

#photos > img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

#beanie-pic::after {
  content: "test";
}

.beanie-container,
.board-container {
  /* width: min-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 40%;
}

#beanie-caption,
#board-caption {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

#beanie-pic,
#board-pic {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 10px;
}

.hamburger {
  display: none;
  margin-right: 2rem;
  background-color: transparent;
  border: none;
}

.bar {
  display: block;
  width: 2rem;
  height: 3px;
  margin: 0.3rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
